<!-- Code for head portion based on SA CS290 Web Dev Project
    index.html page header
    Date: 8/14/2023 -->


<head>
    <meta charset="utf-8" />
    <title>Awards Sub-page</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<headers>

</headers>

<!-- Code for the READ function (table)
    Copied from/ modified from the nodejs-start-app
    from osu-cs340-campus git account- Step 4 - Dynamically Displaying Data
    Date: 8/14/2023
    URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
    -->
<body>
    <header>
        <h1>CREATE / READ Awards</h1>
    </header>
    <main>
        <section>
            <h2>Awards Info</h2>
            <table id="awardTable">
                {{!-- Header section --}}
                <thead>
                    <tr>
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>
                    {{#each data}}
                    <tr data-value="{{this.award_ID}}">
                        <td>{{this.award_ID}}</td>
                        <td>{{this.Award}}</td>
                        <td>{{this.Ceremony}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                <table />

                <!-- Code for the INSERT function (add new award)
                    Copied from/ modified from the nodejs-start-app
                    from osu-cs340-campus git account- Step 5 - Adding New Data
                    Date: 8/14/2023
                    URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
                    -->
                <h2>Add a new award</h2>
                <form id="add-award-form" method="POST" action="/add-award-form">

                    <label for="input_award">Award:
                        <input type="text" name="input_award" id="input_award" autofocus
                            placeholder="Enter Award Name"></label>

                    <label for="input_ceremony">Ceremony:
                        <input type="text" name="input_ceremony" id="input_ceremony"
                            placeholder="Enter Ceremony"></label>

                    <input type="submit">

        </section>
    </main>

</body>