<!-- Code for head portion based on SA CS290 Web Dev Project
    index.html page header
    Date: 8/14/2023 -->

<head>
    <meta charset="utf-8" />
    <title>Members_fave_Sub_Genres Sub-page </title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>


<!-- Code for the READ function (table)
    Copied from/ modified from the nodejs-start-app
    from osu-cs340-campus git account- Step 4 - Dynamically Displaying Data
    Date: 8/14/2023
    URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
    -->
<body>
    <header>
        <h1>CREATE / READ Favorite Sub-Genres for Members</h1>
    </header>
    <main>
        <section>
            <h2>Members can pick their favorite sub-genres to get movie suggestions!</h2>
            <table id="favesTable">
                {{!-- Header section --}}
                <thead>
                    <tr>
                        {{#each fave_genres.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>
                    {{#each fave_genres}}
                    <tr>
                        <td>{{this.Member}}</td>
                        <td>{{this.Sub_Genre}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                <table />


                <!-- Code for the INSERT function (add a favorite Sub-Genre)
                    Copied from/ modified from the nodejs-start-app
                    from osu-cs340-campus git account- Step 5 - Adding New Data
                    Date: 8/14/2023
                    URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
                    -->
                <h2>Add a favorite Sub-Genre for a Member</h2>

                <form id="add-member-fave-form" method="POST" action="/add-member-fave-form">

                    <label for="input_name">Name: </label>
                    <select name="input_name" id="input_name">
                        <option>Select Member</option>
                        {{#each members}}
                        <option value="{{this.member_ID}}">{{this.name}}</option>
                        {{/each}}
                    </select>

                    <label for="input_sub_genre">Sub-Genre: </label>
                    <select name="input_sub_genre" id="input_sub_genre">
                        <option>Add a Sub-Genre</option>
                        {{#each sub_genres}}
                        <option value="{{this.sub_genre_ID}}">{{this.sub_genre}}</option>
                        {{/each}}
                    </select>
                    <input type="submit">

                </form>


                {{!-- <legend>Delete a Favorite</legend> --}}
                <h2>Remove a favorite Sub-Genre for a Member</h2>
                {{!-- <label for="editFaves">Member <input type="text" name="editFaves" autofocus --}} <label
                        for="input_name">Name: </label>
                <select name="input_name" id="input_name">
                    <option>Select Member</option>
                    {{#each members}}
                    <option value="{{this.member_ID}}">{{this.name}}</option>
                    {{/each}}
                </select> --}}

                {{!-- <label for="removeFave">Remove a Favorite <select name="removeFave">
                        <option value="Dystopia">Dystopia</option>
                        <option value="SpaceOpera">Space Opera</option>
                        <option value="Cyberpunk">Cyberpunk</option>
                        <option value="SpaceWestern">Space Western</option>
                        <option value="Apocalyptic">Apocalyptic</option>
                        <option value="PostApocalyptic">Post-Apocalyptic</option>
                        <option value="HardScience">Hard Science Fiction</option>
                    </select></label>
                <button type="remove">Submit to Remove a Favorite</button> --}}
                </fieldset>
                </form>

        </section>
    </main>
</body>