<!-- Refer to README for reference -->

<head>
    <meta charset="utf-8" />
    <title>Members_Has_Movies Subpage </title>    <link id="styleSheet" href="style.css" rel="stylesheet" type="text/css" />
    <link id="styleSheet" href="style.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>



  <body>
    <header>
    </header>
    <main>
        <section>
          <h2>Movies Members have checked out!</h2>
            <table id="membersHasMoviesTable">
                {{!-- Header section --}}
                <thead>
                    <tr>
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                        <th>Delete</th>
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>
                    {{!-- For each row, print each ID, movie name, age rating, release date, IMDB rating,
                    Rottent tomatoes rating, # of times rented, sub-genre --}}
                    {{#each data}}
                    <tr>
                        <td>{{this.member_ID}}</td>
                        <td>{{this.movie_ID}}</td>
                        <td>{{this.overdue}}</td>
                        <td>{{this.returned}}</td>
                        <td>{{this.checked_out}}</td>
                        <td>{{this.returned_date}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                <table />

            <!-- 'Create' function to insert new row into Members_Has_Movies table -->
            <h2>Checkout A Movie</h2>
            <p>To checkout a movie, select your name, the movie you'd like to rent and click 'Submit'</p>
            <form id="addMemberHasMoviesForm" method="POST" action="/addMemberHasMoviesForm">
                <label for="input-member">Member </label>
                <input type="text" name="input-member" id="input-member">
                
                <label for="input-movie">Movie </label>
                <input type="text" name="input-movie" id="input-movie">


                <input type="submit">
            </form>

        </section>
    </main>
    <script>
        function editMember(member) {
            alert('Future edits coming!');
        }
    </script>
    <script>
        function deleteMember(member) {
            alert('Future deletion coming!');
        }
    </script>
    
  </body>