<!-- Refer to README for reference -->

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Members Subpage </title>
    <link id="styleSheet" href="../style.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <!-- <h1>Members</h1> -->
    </header>
    <main>
        <section>
            <h2>Member Info</h2>
            <table id="memberTable">
                {{!-- Header section --}}
                <thead>
                    <tr>
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                        <th>delete</th>
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>
                    {{#each data}}
                    <tr data-value="{{this.member_ID}}">
                        <td>{{this.member_ID}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.months_a_member}}</td>
                        <td><button onclick="deleteMember({{this.member_ID}})">Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            

            <section />
            <h2>Add a new member to our service!</h2>
            <p>Enter in your information and click 'Submit' below</p>
            <form id="add-member-form" method="POST" action="/add-member-form">
                <label for="input_name">Name
                    <input type="text" name="input_name" id="input_name" autofocus
                        placeholder="Enter Your Name"></label>

                <label for="input-email">Email
                    <input type="email" name="input_email" id="input_email" placeholder="Email Address"></label>

                <label for="input_address">Address
                    <textarea name="input_address" id="input_address" minlength="2" maxlength="300"
                        placeholder="Please enter your mailing address"></textarea></label>

                <input type="submit">
            </form>

        </section>
    </main>
    <script>
        function editMember(member) {
            alert('Future edits coming!');
        }
    </script>
    <!--<script>
        function deleteMember(member_ID) {}
    </script> -->
    <script src="./js_folder/delete_member.js"></script>

</body>