<!-- Code for head portion based on SA CS290 Web Dev Project
    index.html page header
    Date: 8/14/2023 -->

<head>
    <meta charset="utf-8" />
    <title>Members Sub-page </title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="./js_folder/delete_member.js"></script>
</head>


<!-- Code for the READ function (table)
    Copied from/ modified from the nodejs-start-app
    from osu-cs340-campus git account- Step 4 - Dynamically Displaying Data
    Date: 8/14/2023
    URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
    -->

<body>
    <header>
        <h1>CREATE / READ / UPDATE / DELETE Members</h1>
    </header>
    <main>
        <section>
            <h2>Member Info</h2>
            <table id="memberTable">
                {{!-- Header section --}}
                <thead>
                    <tr>
                        {{#each data.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                        <th>Delete</th>
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>
                    {{#each data}}
                    <tr data-value="{{this.member_ID}}">
                        <td>{{this.member_ID}}</td>
                        <td>{{this.Name}}</td>
                        <td>{{this.Email}}</td>
                        <td>{{this.Address}}</td>
                        <td>{{this.Months_a_Member}}</td>
                        <td><button onClick="deleteMember({{ this.member_ID }})">Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <!-- Code for the INSERT function (add a member)
                    Copied from/ modified from the nodejs-start-app
                    from osu-cs340-campus git account- Step 5 - Adding New Data
                    Date: 8/14/2023
                    URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
                    -->
            <h2>Add a new member to our service</h2>
            <form id="add-member-form" method="POST" action="/add-member-form">
                <label for="input_name">Name
                    <input type="text" name="input_name" id="input_name" autofocus
                        placeholder="Enter Your Name"></label>

                <label for="input-email">Email
                    <input type="email" name="input_email" id="input_email" placeholder="Email Address"></label>

                <label for="input_address">Address
                    <textarea name="input_address" id="input_address" minlength="2" maxlength="300"
                        placeholder="Please enter your mailing address"></textarea></label>

                <input type="submit">
            </form>

            <!-- Code for the UPDATE function
                    Copied from/ modified from the nodejs-start-app
                    from osu-cs340-campus git account- Step 8 - Dynamically Updating Data
                    Date: 8/14/2023
                    URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
                    -->
            <h2>Updating an Email Address</h2>
            <form id="update-email-form">

                <!--Code to dynamically fill the drop downs for members
                    Copied from/ modified from the nodejs-start-app
                    from osu-cs340-campus git account- Step 6 -
                    Dynamically Filling Dropdowns and Adding a Search Box
                    Date: 8/14/2023
                    URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box
                    -->
                <label for="input-name">Name: </label>
                <select name="input-name" id="mySelect">
                    <option value="test">Select Member</option>
                    {{#each data}}
                    <option value="{{this.member_ID}}">{{this.Name}}</option>
                    {{/each}}
                </select>

                <label for="input_email_update">Update Email:
                    <input type="text" name="input_email_update" id="input_email_update"
                        placeholder="Enter Updated Email"></label>
                <input type="submit">
            </form>
        </section>
    </main>
    <script src="./js_folder/update_member_email.js"></script>
    <detail>If the update does not reflect on the table immediately, please manually refresh your browser.</detail>
</body>