<!-- Code for head portion based on SA CS290 Web Dev Project
    index.html page header
    Date: 8/14/2023 -->

<head>
    <meta charset="utf-8" />
    <title>Movies Sub-page</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<!-- Code for the READ function (table)
    Copied from/ modified from the nodejs-start-app
    from osu-cs340-campus git account- Step 4 - Dynamically Displaying Data
    Date: 8/14/2023
    URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
    -->

<body>
    <header>
        <h1>CREATE / READ / UPDATE /DELETE Movies</h1>
    </header>
    <main>
        <section>
            <h2>Movie Inventory</h2>
            <table id="movieTable">
                {{!-- Header section --}}
                <thead>
                    <tr>
                        {{#each data.[0]}}
                        {{!-- {{#unless @last}} --}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                        <th>Delete</th>
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>
                    {{!-- For each row, print each ID, movie name, age rating, release date, IMDB rating,
                    Rotten tomatoes rating, # of times rented, sub-genre --}}
                    {{#each data}}
                    <tr data-value="{{this.movie_ID}}">
                        <td>{{this.movie_ID}}</td>
                        <td>{{this.Title}}</td>
                        <td>{{this.Age_Rating}}</td>
                        <td>{{this.Year}}</td>
                        <td>{{this.IMDB_Rating}}</td>
                        <td>{{this.Rotten_Tomatoes_Rating}}</td>
                        <td>{{this.num_times_rented}}</td>
                        <td>{{this.Sub_Genre}}</td>
                        <td><button onclick="deleteMovies({{this.movie_ID}})">Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
                <table />
                <script src="./js_folder/delete_movie.js"></script>


                <!-- Code for the INSERT function (add a movie)
                    Copied from/ modified from the nodejs-start-app
                    from osu-cs340-campus git account- Step 5 - Adding New Data
                    Date: 8/14/2023
                    URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
                    -->
                <h2>Adding A new Movie</h2>
                <form id="add-movie-form" method="POST" action="/add-movie-form">

                    <label for="input_movie_name" id="input_movie_name" autofocus Placeholder="Enter Movie Name"> Movie
                        Name:
                        <input type="text" name="input_movie_name">
                    </label>

                    <label for="input_age_rating">Age Rating
                        <select name="input_age_rating" id="input_age_rating">
                            <option value="G">G</option>
                            <option value="PG">PG</option>
                            <option value="PG-13">PG-13</option>
                            <option value="R">R</option>
                        </select>
                    </label>

                    <label for="input_release_year" id="input_release_year">Release Date
                        <input type="number" name="input_release_year" placeholder="yyyy">
                    </label>

                    <label for="input_imdb" id="input_imdb">IMDB Rating
                        <input type="number" min=0 step="0.1" name="input_imdb">
                    </label>

                    <label for="input_rotten" id="input_rotten">Rotten Tomatoes Rating
                        <input type="number" min=0 name="input_rotten">
                    </label>

                    <label for="input-sub_genre" id="input_sub_genre">Sub-Genre:
                        <select name="input_sub_genre">
                            <option>Select a Sub-Genre</option>
                            {{#each sub_genres}}
                            <option value="{{this.sub_genre_ID}}">{{this.sub_genre}}</option>
                            {{/each}}
                        </select></label>

                    <input type="submit">

                </form onsubmit="setTimeout(function(){window.location.reload();},10);">


                <!-- Code for the UPDATE function
                    Copied from/ modified from the nodejs-start-app
                    from osu-cs340-campus git account- Step 8 - Dynamically Updating Data
                    Date: 8/14/2023
                    URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
                    -->
                <h2>Updating A Movie's Information</h2>
                <form id="update-movie-form">
                    <label for="update-movie_name">Movie name: </label>

                    <!-- Code to dynamically fill the drop downs for movies & sub-genres
                        Copied from/ modified from the nodejs-start-app
                        from osu-cs340-campus git account- Step 6 -
                        Dynamically Filling Dropdowns and Adding a Search Box
                        Date: 8/14/2023
                        URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box
                        -->
                    <select name="update-movie_name" id="update-movie-name">
                        <option value="test">Select a Movie</option>
                        {{#each data}}
                        <option value="{{this.movie_ID}}">{{this.Title}}</option>
                        {{/each}}
                    </select>

                    <label for="input-sub_genre">Sub-Genre: </label>
                    <select name="input-sub_genre" id="input-sub_genre-update">
                        <option>Select a Sub-Genre</option>
                        {{#each sub_genres}}
                        <option value="{{this.sub_genre_ID}}">{{this.sub_genre}}</option>
                        {{/each}}
                    </select>
                    <input type="submit">
                </form>
        </section>
    </main>
    <script src="../js_folder/update_movie.js"></script>
    <br>
    <detail>If the update does not reflect on the table immediately, please manually refresh your browser.</detail>

</body>