<!-- Refer to README for reference -->

<head>
    <meta charset="utf-8" />
    <title>Movies sub-page</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>



<body>
    <header>
        <h1>CREATE Awards</h1>
    </header>
    <main>
        <section>
            <h2>Awards Movies have won!</h2>
            <table id="moviesHasAwardsTable">
                {{!-- Header section --}}
                <thead>
                    <tr>
                        {{#each movies_awards.[0]}}
                        <th>
                            {{@key}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>

                {{!-- Body section --}}
                <tbody>
                    {{!-- For each row, print each ID, movie name, age rating, release date, IMDB rating,
                    Rottent tomatoes rating, # of times rented, sub-genre --}}
                    {{#each movies_awards}}
                    <tr>
                        <td>{{this.Movie}}</td>
                        <td>{{this.Award}}</td>
                        {{!-- <td>{{this.movie_ID}}</td> --}}

                    </tr>
                    {{/each}}
                </tbody>
                <table />

                <h2>Add a new Award to a Movie</h2>

                <form id="add-movie-award-form" method="POST" action="/add-movie-award-form">

                    <label for="input_movie">Movie: </label>
                    <select name="input_movie" id="input_movie">
                        <option>Select Movie</option>
                        {{#each movies}}
                        <option value="{{this.movie_ID}}">{{this.movie_name}}</option>
                        {{/each}}
                    </select>

                    <label for="input_award">Award: </label>
                    <select name="input_award" id="input_award">
                        <option>Add an Award</option>
                        {{#each awards}}
                        <option value="{{this.award_ID}}">{{this.award}}</option>
                        {{/each}}
                    </select>
                    <input type="submit">

                </form>
                {{!--
        </section>
        <section> --}}
            <h2>Updating A Movie's Awards </h2>
            {{!-- <p>To update a specific movie's awards, click on the edit button and change the relevant info</p> --}}
            <form id="update-movie_awards-form">
                <label for="update-movie">Movie: </label>
                <select name="update-movie" id="input-movie-update">
                    <option value="test">Select a Movie</option>
                    {{#each movies}}
                    <option value="{{this.movie_ID}}">{{this.movie_name}}</option>
                    {{/each}}
                </select>

                <label for="input-movie_awards-update">Award: </label>
                <select name="input-movie_awards-update" id="input-movie_awards-update">
                    <option>Select an Award</option>
                    {{#each awards}}
                    <option value="{{this.award_ID}}">{{this.award}}</option>
                    {{/each}}
                </select>
                <input type="submit">
            </form>
        </section>
    </main>
    {{!--
    <script>
        function editMember(member) {
            alert('Future edits coming!');
        }
    </script> --}}
    {{!--
    <script>
        function deleteMember(member) {
            alert('Future deletion coming!');
        }
    </script> --}}

    <script src="./js_folder/update_movie_has_awards.js"></script>


</body>